body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.calculator-screen {
    width: 99%;
    height: 80px;
    background-color: #252525;
    color: white;
    border: none;
    text-align: right;    
    padding-right:40px;
    padding-left: 0px;
    font-size: 2.5rem;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #1c1c1c;
}

button {
    height: 60px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.operator {
    background-color: #f1a33c;
}

.operator:hover {
    background-color: #f39c12;
}

.equal-sign {
    grid-column: span 2;
    background-color: #4caf50;
}

.equal-sign:hover {
    background-color: #45a049;
}

.all-clear {
    background-color: #e74c3c;
}

.all-clear:hover {
    background-color: #c0392b;
}